<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <pages>
        <controls>
          <add src="~/Controls/ContactUserControl.ascx" tagPrefix="UserControl" tagName="ContactUserControl"/>
        </controls>
      </pages>
    </system.web>

</configuration>
